.logo{
  background-color: #303030;
  margin-bottom: 2em;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
}

.pushRight{
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 0;
}

.ul{
  display: flex;
  align-items: center;
}

.li{
  width: 100%; 
  padding-left: 1em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_btn{
  width: 80%;
  background-color: #303030;
}

.li_profile{
  margin-top: 10em;
}