.logo{
  background-color: #303030;
  margin-bottom: 2em;
  background-image: url('https://i.imgur.com/YeqM8du.png');
  height: 10vh;
  background-size: cover;
  width: 10vh;
  border-radius: 50%;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
}

.pushRight{
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 0;
}

.ul{
  display: flex;
  align-items: center;
}

.li{
  width: 100%; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_btn{
  margin-left: 1em;
  width: 80%;
  background-color: #303030;
}

.li_profile{
  margin-top: 10em;
}

.list_last{
  margin-top: 10em;
}